@using TravelTripProject.Models.Siniflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}


<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<body>
    
    
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot" style="margin-left:80px">Kanser ile Savaş Derneği</h2>
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/seminarr.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Seminerler</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/analytics.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Raporlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/bar-chart.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>İstatistikler</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/paper.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Yayınlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">

                        <div class="slider" style="width:650px;height:360px">
                            <ul class="rslides" id="slider1">
                                @foreach (var x in Model)
                                 {
                                <li><img src="@x.BlogImage" alt=""></li>
                                @*<li><img src="~/web/images/img2.jpg" alt=""></li>
                                <li><img src="~/web/images/img3.jpg" alt=""></li>
                                <li><img src="~/web/images/img4.jpg" alt=""></li>*@
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>Kanser ile Savaş Derneği'ne Hoşgeldiniz!'</h3>
                    <p>
                        Kanser ile Savaş Derneği , 2019 yılında faaliyete geçmiş olup, derneğimizin temel amacı, Çeşitli kanser türlerine yönelik yeni ilaç geliştirme ve mevcut tedavilerin iyileştirilmesidir.
                        Bu bakımdan, Doğal veya sentetik bileşiklerin, kanserli hücreler üzerine moleküler etkilerini ortaya çıkarmak, hücre ölümü, sitotoksisite (Hücresel Toksik Etki), genotoksisite (DNA üzerine Toksik Etki), Tümör Farmokolojisi ve Biyolojisi gibi çalışmaları yapmak, 
                        laboratuvarımızın temel vizyonudur.
                    </p>
                </div>
                @Html.Action("Partial1","Default")

                <div class="grids">
                    <div class="box1">
                        @Html.Action("Partial3","Default")
                        @Html.Action("Partial4","Default")
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
